%fancy_font{
  font-family: Helvetica, sans-serif;
}

.margin {
  margin: 0; 
  font-weight: normal;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#navigation {
  background: red;
  width: 1200px;
  margin: 0 auto 0 auto; 
  position: relative;
  color: black;
}

header{
  @extend .margin;
  background: #406199;
  padding-left: 300px;
  height: 50px;
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 40px
}

header li{
  display: inline-block;
}

#main {
  
  
}

#take_survey {
  background: #4CC5EF;
  font-weight: normal;
  text-align: center;
  font-size: 12px;
  height: 70px;
}

#description {
  background: white;
  margin: 0;
  margin-bottom: 40px;
}

p {
  @extend %fancy_font;
  font-size: 17px;
  line-height: 25px;
  font-weight: 400;
  margin-bottom: 15px;
  }

#customers_say {
  text-align: center;
  background: white;
  
}

#salesforce_integration {
  text-align: center;
  
}

#contact {
  text-align: center;
  background: #4DADD5;
  
  
}

#contact .call_to_action {
    @extend .margin;
    background: #4CC5EF;
    font-size: 15px;
    text-align: center;
    float: left;
    width: 280px;
    length: 1200px;
  }
  

