<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>postwire</title>
  <meta name="description" content="">

  <link rel="stylesheet" href="normalize.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="global.css" type="text/css" media="screen" charset="utf-8">
</head>

<body>
  <div id="navigation">
      <header>
         <nav>
           <ul>
              <li><a href="#">postwire</a></li>
              <li><a href="#">product</a></li>
              <li><a href="#">pricing</a></li>
              <li><a href="#">use cases</a></li>
              <li><a href="#">blog</a></li>
              <li><a href="#">log in</a></li>
              <li><a href="#">postwire health</a></li>
              <li><a href="#">talk with us</a></li>
              <li><a href="#">free trial</a></li>
                </ul>
              </nav>
      </header>

      <div id="main">
            <h1>Help your sales team sell smarter, faster.</h1>
            <p>Create a personal place to engage each prospect and client beyond email, calls and meetings to win, retain and grow more accounts.</p>
            <p><ul><li><a href="#">Start your free trial</a></li></ul><p>
          </div>

      <div id="take_survey">
          <img src="/images/survey-icon.png"alt="Survey Icon">    Take our one minute interactive 'insight selling' survey today!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">take it now</a></h2>
            </div>


      <div id="description">
              <div id="head">
                <h3>Sales has changed</h3>
                <p>Share information and insights with your prospects and clients quickly and easily. Discover which content is working to identify your best sales targets and close more deals.</p>
                <img src="images/plane-with-trail.png" width="420" height="60" alt="Plane With Trail">
              </div>
            </div>

  <div id="customers_say">
    <p>What our customers say</p>
     <img src="images/snap-logo1.png" width="150" height="50" alt="Snap Logo1">
     <img src="images/raingroup-logo.png" width="150" height="50" alt="Raingroup Logo">
     <img src="images/healthways.png" width="150" height="50" alt="Healthways">
  </div>
  
  <div id="salesforce_integration">
    <p>Salesforce Integration</p>
    <p>With Postwire’s Salesforce App you get a whole new level of sales intelligence to understand your prospect and account activity.</p>
    <p>For Sales VPs, Sales Reps and Marketers to identify which accounts and contacts are most actively engaged, and understand which content is working best. No need to change your sales process!</p>
    <p><a href="#">Find out more</a><p>
       <img src="images/integration-logos.png" width="345" height="250" alt="Integration Logos">
  </div>
  
  <div id="contact">
    <div class="call_to_action">
        <img src="images/call-us-icon.png" width="55" height="55" alt="Call Us Icon">
            <h3>Call us</h3>
            <p>Got a question? We would love to help. Call us today.</p>
            <p><a href="#">>888-888-888</a></p>
          </div>
      
          <div class="call_to_action">
            <img src="images/demo-icon.png" width="55" height="55" alt="Demo Icon">
            <h3>Get a demo</h3>
            <p>One of our success coaches will show you how Postwire can help you close more deals faster.</p>
            <p><a href="#">>Contact us for a demo</a></p>
          </div>
      
          <div class="call_to_action">
            <img src="..images/free-trial-icon.png" width="110" height="110" alt="Free Trial Icon">
            <h3>14 day free trial</h3>
            <p>Give Postwire a try by signing up for a fully functional Team Plan. No credit card required.</p>
            <p><a href="#">>Start your free trial</a></p>
          </div>
        </div>
    
  <footer>
    FOOTER
  </footer>
</div>
</body>
</html>

